In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
%matplotlib inline
import seaborn as sns

from sklearn.preprocessing import MultiLabelBinarizer

In [33]:
all_cars = pd.read_csv('dataset_V2.csv')
all_cars.head(3)

,Unnamed: 0,bodyType,brand,car_url,color,description,engineDisplacement,enginePower,equipment_dict,fuelType,...,vehicleConfiguration,vehicleTransmission,vendor,–í–ª–∞–¥–µ–ª—å—Ü—ã,–ü–¢–°,–ü—Ä–∏–≤–æ–¥,–†—É–ª—å,–°–æ—Å—Ç–æ—è–Ω–∏–µ,–¢–∞–º–æ–∂–Ω—è,price
0,0,–ª–∏—Ñ—Ç–±–µ–∫,SKODA,https://auto.ru/cars/used/sale/skoda/octavia/1...,–±–µ–ª—ã–π,–ú–∞—à–∏–Ω–∞ –≤ –æ—Ç–ª–∏—á–Ω–æ–º —Å–æ—Å—Ç–æ—è–Ω–∏–∏ü•á\n–ö–æ–º–ø–ª–µ–∫—Ç–∞—Ü–∏—è Ele...,1.8 LTR,152 N12,"{'cruise-control': True, 'tinted-glass': True,...",–±–µ–Ω–∑–∏–Ω,...,LIFTBACK AUTOMATIC 1.8,–∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∞—è,EUROPEAN,2.0,DUPLICATE,FORWARD_CONTROL,LEFT,True,True,829000.0
1,1,–ª–∏—Ñ—Ç–±–µ–∫,SKODA,https://auto.ru/cars/used/sale/skoda/octavia/1...,–±–µ–∂–µ–≤—ã–π,–•–æ—Ä–æ—à–µ–µ —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–æ–µ –∏ –∫–æ—Å–º–µ—Ç–∏—á–µ—Å–∫–æ–µ\n—Å–æ—Å—Ç–æ—è–Ω–∏–µ...,1.8 LTR,152 N12,"{'cruise-control': True, 'esp': True, 'adaptiv...",–±–µ–Ω–∑–∏–Ω,...,LIFTBACK AUTOMATIC 1.8,–∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∞—è,EUROPEAN,3.0,ORIGINAL,FORWARD_CONTROL,LEFT,True,True,785000.0
2,2,–≤–Ω–µ–¥–æ—Ä–æ–∂–Ω–∏–∫ 5 –¥–≤.,SKODA,https://auto.ru/cars/used/sale/skoda/yeti/1105...,–ø—É—Ä–ø—É—Ä–Ω—ã–π,–ò–¥–µ–∞–ª—å–Ω–æ–µ —Å–æ—Å—Ç–æ—è–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è\n–î–∏–ª–µ—Ä –ö—Ä–∞—Å–Ω–æ—è—Ä...,1.2 LTR,105 N12,"{'computer': True, 'ptf': True, 'rain-sensor':...",–±–µ–Ω–∑–∏–Ω,...,ALLROAD_5_DOORS ROBOT 1.2,—Ä–æ–±–æ—Ç–∏–∑–∏—Ä–æ–≤–∞–Ω–Ω–∞—è,EUROPEAN,1.0,ORIGINAL,FORWARD_CONTROL,LEFT,True,True,745000.0

In [34]:
all_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104663 entries, 0 to 104662
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            104663 non-null  int64
 1   bodyType              104450 non-null  object
 2   brand                 104451 non-null  object
 3   car_url               104663 non-null  object
 4   color                 104451 non-null  object
 5   description           104451 non-null  object
 6   engineDisplacement    104451 non-null  object
 7   enginePower           104451 non-null  object
 8   equipment_dict        104449 non-null  object
 9   fuelType              104449 non-null  object
 10  mileage               104449 non-null  float64
 11  modelDate             104450 non-null  float64
 12  model_info            97958 non-null   object
 13  model_name            104449 non-null  object
 14  numberOfDoors         104450 non-null  float64
 15  productionDate        104451 non-null  float64
 16  super_gen             104448 non-null  object
 17  vehicleConfiguration  104450 non-null  object
 18  vehicleTransmission   104449 non-null  object
 19  vendor                97959 non-null   object
 20  –í–ª–∞–¥–µ–ª—å—Ü—ã             104442 non-null  float64
 21  –ü–¢–°                   104447 non-null  object
 22  –ü—Ä–∏–≤–æ–¥                104447 non-null  object
 23  –†—É–ª—å                  104449 non-null  object
 24  –°–æ—Å—Ç–æ—è–Ω–∏–µ             104430 non-null  object
 25  –¢–∞–º–æ–∂–Ω—è               104440 non-null  object
 26  price                 95913 non-null   float64
dtypes: float64(6), int64(1), object(20)
memory usage: 21.6+ MB

–¥–∞—Ç–∞—Å–µ—Ç –¥–æ—Å—Ç–∞–≤—Ç–æ—á–Ω–æ "–≥—Ä—è–∑–Ω—ã–π", –ø—Ä–æ–≤–µ—Ä–∏–º –Ω–∞ –Ω–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤, —É–±–µ—Ä–µ–º –ª–∏—à–Ω–∏–µ –¥–∞–Ω–Ω—ã–µ –∏ –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –∏–º–µ—é—â–∏–µ—Å—è –≤ —Ñ–æ—Ä–º–∞—Ç, –ø—Ä–∏–≥–æ–¥–Ω—ã–π –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞

In [35]:
all_cars.isnull().sum()

Unnamed: 0                 0
bodyType                 213
brand                    212
car_url                    0
color                    212
description              212
engineDisplacement       212
enginePower              212
equipment_dict           214
fuelType                 214
mileage                  214
modelDate                213
model_info              6705
model_name               214
numberOfDoors            213
productionDate           212
super_gen                215
vehicleConfiguration     213
vehicleTransmission      214
vendor                  6704
–í–ª–∞–¥–µ–ª—å—Ü—ã                221
–ü–¢–°                      216
–ü—Ä–∏–≤–æ–¥                   216
–†—É–ª—å                     214
–°–æ—Å—Ç–æ—è–Ω–∏–µ                233
–¢–∞–º–æ–∂–Ω—è                  223
price                   8750
dtype: int64

–ø—Ä–æ–ø—É—Å–∫–∏ –µ—Å—Ç—å –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏ –≤ –∫–∞–∂–¥–æ–π –∫–æ–ª–æ–Ω–∫–µ, –Ω–æ –∏—Ö —Å—Ä–∞–≤–Ω–∏—Ç–µ–ª—å–Ω–æ –Ω–µ–∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–Ω–æ–µ –∫–æ–ª–∏—á–µ—Ç—Å–≤–æ. –ü–æ—ç—Ç–æ–º—É —Å–ø–æ–∫–æ–π–Ω–æ –∏—Ö —É–¥–∞–ª—è–µ–º

In [37]:
all_cars = all_cars.dropna()
all_cars.isnull().sum()

Unnamed: 0              0
bodyType                0
brand                   0
car_url                 0
color                   0
description             0
engineDisplacement      0
enginePower             0
equipment_dict          0
fuelType                0
mileage                 0
modelDate               0
model_info              0
model_name              0
numberOfDoors           0
productionDate          0
super_gen               0
vehicleConfiguration    0
vehicleTransmission     0
vendor                  0
–í–ª–∞–¥–µ–ª—å—Ü—ã               0
–ü–¢–°                     0
–ü—Ä–∏–≤–æ–¥                  0
–†—É–ª—å                    0
–°–æ—Å—Ç–æ—è–Ω–∏–µ               0
–¢–∞–º–æ–∂–Ω—è                 0
price                   0
dtype: int64

In [38]:
# –ø—Ä–∏–∑–Ω–∞–∫ 'car_url' –±—É–¥–µ–º –∏–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –≤ –∫–∞—á–µ—Å—Ç–≤–µ –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä–∞, –∏–∑–≤–¥–µ—á–µ–º –æ—Ç—Ç—É–¥–∞ id –æ–±—ä—è–≤–ª–µ–Ω–∏—è
all_cars['car_url'][5]

'https://auto.ru/cars/used/sale/skoda/octavia/1105846102-35605d51/'

In [39]:
all_cars.url_split = all_cars.car_url.str.split('/')
all_cars.url_split[15648]

<ipython-input-39-a395f9173830>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  all_cars.url_split = all_cars.car_url.str.split('/')

['https:',
 '',
 'auto.ru',
 'cars',
 'used',
 'sale',
 'honda',
 'accord',
 '1105508916-b03d1806',
 '']

In [40]:
id_car = [power[0:][8] for power in all_cars.url_split]
id_car_split = [x.split('-') for x in id_car]
all_cars['id_car'] = [q[0] for q in id_car_split]
all_cars['id_car'] = pd.to_numeric(all_cars['id_car'])
all_cars['id_car']

0         1105765221
1         1105672391
2         1105201873
3         1105607078
4         1105561522
             ...
104656    1105731924
104658    1104571613
104659    1105831300
104660    1105408230
104661    1105396628
Name: id_car, Length: 95876, dtype: int64

In [41]:
all_cars['id_car'].duplicated().value_counts()

False    95114
True       762
Name: id_car, dtype: int64

–≤ id –æ–±—ä—è–≤–ª–µ–Ω–∏–π –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –¥—É–±–ª–∏–∫–∞—Ç—ã, –Ω–æ –∏—Ö –Ω–µ–±–æ–ª—å—à–æ–µ –∫–æ–ª–∏—á–µ—Ç—Å–≤–æ, —É–¥–∞–ª—è–µ–º –∏—Ö

In [42]:
all_cars = all_cars.drop_duplicates(subset='id_car', keep=False, inplace=False)

—Ä–∞—Å—Å–º–æ—Ç—Ä–∏–º –ø—Ä–∏–∑–Ω–∞–∫ super_gen, –≥–¥–µ —Å–æ–±—Ä–∞–Ω—ã —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ –∞–≤—Ç–æ–º–æ–±–∏–ª—è. –±–û–ª—å—à–∞—è —á–∞—Å—Ç—å –¥—É–±–ª–∏—Ä—É–µ—Ç—Å—è –≤ –¥—Ä—É–≥–∏—Ö –ø—Ä–∏–∑–Ω–∞–∫–∞—Ö, –Ω–æ –∑–¥–µ—Å—å –µ—Å—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ —Ä–∞—Å—Ö–æ–¥–µ —Ç–æ–ø–ª–∏–≤–∞, —á—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ–ª–µ–∑–Ω–æ–π –¥–ª—è –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –º–æ–¥–µ–ª–∏. –í—ã–¥–µ–ª–∏–º –µ–≥–æ –≤ –æ—Ç–¥–µ–ª—å–Ω—ã–π –ø—Ä–∏–∑–Ω–∞–∫

In [46]:
all_cars[['id_car', 'super_gen']].loc[12][1]

"{'id': '5040501', 'name': 'Scout', 'nameplate': 'Scout', 'displacement': 1798, 'engine_type': 'GASOLINE', 'gear_type': 'ALL_WHEEL_DRIVE', 'transmission': 'MECHANICAL', 'power': 152, 'power_kvt': 112, 'human_name': 'Scout 1.8 MT (152 –ª.—Å.) 4WD', 'acceleration': 8.7, 'clearance_min': 179, 'fuel_rate': 7.8}"

In [47]:
all_cars['fuel_rate'] = [rate[-18:] for rate in all_cars['super_gen'] ]
all_cars['fuel_rate'] = all_cars['fuel_rate'].str.replace(('}'), '')
all_cars['fuel_rate'] = all_cars['fuel_rate'].str.replace(("'"), '')
all_cars['fuel_rate'] = all_cars['fuel_rate'].str.replace(("'"), '')
all_cars['fuel_rate'].value_counts(ascending = True).index[:20]

Index(['2, fuel_rate: 4', 'earance_min: 186', 'fuel_rate: 16.4',
       ' fuel_rate: 2.4', 'earance_max: 160', '3.3 MT (75 –ª.—Å.)',
       'earance_min: 254', 'ectric_range: 50', 'ery_capacity: 17',
       'earance_min: 131', 'earance_min: 163', 'earance_max: 184',
       'ery_capacity: 38', '6, fuel_rate: 4', 'fuel_rate: 19.4',
       'fuel_rate: 19.2', 'fuel_rate: 17.3', 'earance_min: 290',
       'y_capacity: 41.4', ' fuel_rate: 3.1'],
      dtype='object')

–∫–∞–∫ –≤–∏–¥–Ω–æ, –µ—Å—Ç—å –¥–∞–Ω–Ω—ã–µ, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ–ø–∞–ª–∏ –≤ —Å–ø–∏—Å–æ–∫ —Å–ª—É—á–∞–π–Ω–æ. –æ–±—Ä–∞–±–æ—Ç–∞–µ–º –∏—Ö

In [48]:
fuel = []
for f  in all_cars['fuel_rate']:
    if 'fuel_rate:' in f:
        fuel.append(f)
    elif 'fuel_rate:' not in f:
        fuel.append('w') 
        """ –≤–º–µ—Å—Ç–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ —Å–Ω–∞—á–∞–ª–∞ –ø—Ä–æ—Å—Ç–∞–≤–∏–º —Å–ª—É—á–∞–π–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ,  –ø—É—Å—Ç—å –±—É–¥–µ—Ç –±—É–∫–≤–∞ w """
        
all_cars['contain2'] = fuel
all_cars['contain2_split'] = all_cars['contain2'].str.split(':')
all_cars['contain2_split']

0         [ fuel_rate,  7.7]
1         [ fuel_rate,  7.7]
2         [ fuel_rate,  6.4]
3         [ fuel_rate,  6.3]
4         [ fuel_rate,  7.4]
                 ...
104656    [ fuel_rate,  6.8]
104658    [fuel_rate,  14.4]
104659    [ fuel_rate,  7.8]
104660    [ fuel_rate,  9.5]
104661                   [w]
Name: contain2_split, Length: 94352, dtype: object

In [49]:
rate2 = []
for rate in all_cars['contain2_split']:
    if len(rate)> 1:
        rate2.append(rate[1])
    else:
        rate2.append(rate[0])
        
all_cars['rate2'] = rate2
all_cars['rate2'].value_counts()

w        6653
 7.4     2430
 6.7     2293
 7.5     2208
 7.9     2201
         ...
 16.2       1
 19.2       1
 17.3       1
 19.4       1
 3.1        1
Name: rate2, Length: 163, dtype: int64

—Å–Ω–∞—á–∞–ª–∞ –Ω–∞–π–¥–µ–º –º–µ–¥–∏–∞–Ω—É –∏ —Å—Ä–µ–¥–Ω–µ–µ —Å–ø–∏—Å–∫–∞ –Ω–µ —É—á–∏—Ç—ã–≤–∞—è –ø—Ä–æ–ø—É—Å–∫–∏

In [50]:
rate_w = all_cars[~all_cars.rate2.str.match("w", na=False)]
rate_w['rate2'] = pd.to_numeric(rate_w['rate2'])

<ipython-input-50-31dfc8d30bfc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rate_w['rate2'] = pd.to_numeric(rate_w['rate2'])

In [51]:
print (rate_w['rate2'].median())
print(rate_w['rate2'].mean())
print (rate_w['rate2'].mode())

7.8
8.208782312227324
0    7.4
dtype: float64

In [52]:
# –∑–∞–º–µ–Ω–∏–º –ø—Ä–æ–ø—É—Å–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –º—ã —Ä–∞–Ω–µ–µ –æ–±–æ–∑–Ω–∞—á–∏–ª–∏ —á–µ—Ä–µ–∑ 'w' –º–µ–¥–∏–∞–Ω–æ–π –ø—Ä–∏–∑–Ω–∞–∫–∞, –∏ –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –¥–∞–Ω–Ω—ã–µ –≤ —á–∏—Å–ª–æ–≤–æ–π —Ñ–æ—Ä–º–∞—Ç
all_cars['rate2'] = all_cars['rate2'].str.replace(('w'), '7.8')
all_cars['rate_fuel'] = pd.to_numeric(all_cars['rate2'])
all_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94352 entries, 0 to 104661
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            94352 non-null  int64
 1   bodyType              94352 non-null  object
 2   brand                 94352 non-null  object
 3   car_url               94352 non-null  object
 4   color                 94352 non-null  object
 5   description           94352 non-null  object
 6   engineDisplacement    94352 non-null  object
 7   enginePower           94352 non-null  object
 8   equipment_dict        94352 non-null  object
 9   fuelType              94352 non-null  object
 10  mileage               94352 non-null  float64
 11  modelDate             94352 non-null  float64
 12  model_info            94352 non-null  object
 13  model_name            94352 non-null  object
 14  numberOfDoors         94352 non-null  float64
 15  productionDate        94352 non-null  float64
 16  super_gen             94352 non-null  object
 17  vehicleConfiguration  94352 non-null  object
 18  vehicleTransmission   94352 non-null  object
 19  vendor                94352 non-null  object
 20  –í–ª–∞–¥–µ–ª—å—Ü—ã             94352 non-null  float64
 21  –ü–¢–°                   94352 non-null  object
 22  –ü—Ä–∏–≤–æ–¥                94352 non-null  object
 23  –†—É–ª—å                  94352 non-null  object
 24  –°–æ—Å—Ç–æ—è–Ω–∏–µ             94352 non-null  object
 25  –¢–∞–º–æ–∂–Ω—è               94352 non-null  object
 26  price                 94352 non-null  float64
 27  id_car                94352 non-null  int64
 28  fuel_rate             94352 non-null  object
 29  contain2              94352 non-null  object
 30  contain2_split        94352 non-null  object
 31  rate2                 94352 non-null  object
 32  rate_fuel             94352 non-null  float64
dtypes: float64(7), int64(2), object(24)
memory usage: 27.0+ MB

In [53]:
# —É–¥–∞–ª–∏–º –ª–∏—à–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∏
all_cars.drop(['fuel_rate', 'contain2', 'contain2_split', 'rate2', 'Unnamed: 0'], axis=1, inplace=True)
all_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94352 entries, 0 to 104661
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bodyType              94352 non-null  object
 1   brand                 94352 non-null  object
 2   car_url               94352 non-null  object
 3   color                 94352 non-null  object
 4   description           94352 non-null  object
 5   engineDisplacement    94352 non-null  object
 6   enginePower           94352 non-null  object
 7   equipment_dict        94352 non-null  object
 8   fuelType              94352 non-null  object
 9   mileage               94352 non-null  float64
 10  modelDate             94352 non-null  float64
 11  model_info            94352 non-null  object
 12  model_name            94352 non-null  object
 13  numberOfDoors         94352 non-null  float64
 14  productionDate        94352 non-null  float64
 15  super_gen             94352 non-null  object
 16  vehicleConfiguration  94352 non-null  object
 17  vehicleTransmission   94352 non-null  object
 18  vendor                94352 non-null  object
 19  –í–ª–∞–¥–µ–ª—å—Ü—ã             94352 non-null  float64
 20  –ü–¢–°                   94352 non-null  object
 21  –ü—Ä–∏–≤–æ–¥                94352 non-null  object
 22  –†—É–ª—å                  94352 non-null  object
 23  –°–æ—Å—Ç–æ—è–Ω–∏–µ             94352 non-null  object
 24  –¢–∞–º–æ–∂–Ω—è               94352 non-null  object
 25  price                 94352 non-null  float64
 26  id_car                94352 non-null  int64
 27  rate_fuel             94352 non-null  float64
dtypes: float64(7), int64(1), object(20)
memory usage: 23.4+ MB

—Å–æ—Ö—Ä–∞–Ω–∏–º —ç—Ç–æ—Ç –¥–∞—Ç–∞—Å–µ—Ç –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–π —Ä–∞–±–æ—Ç—ã –∏ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏—è EDA, Feature Engineering –∏ –ø–æ—Å—Ç–æ—Ä–µ–Ω–∏—è –º–æ–¥–µ–ª–µ–π

In [54]:
all_cars.to_csv("dataset_V2.csv")